.SkillCard {
    text-align: center;
    align-content: center;
    max-width: 100vw;
    min-height: 40vh;

    :hover {
        transition: 500ms ease-in-out;
    }
    // -webkit-box-shadow: -1px 16px 45px -1px rgba(189,189,189,1);
    // -moz-box-shadow: -1px 16px 45px -1px rgba(189,189,189,1);
    // box-shadow: -1px 16px 45px -1px rgba(189,189,189,1);
}
