.hero {


    #col-1 {
        height: 75vh;
        background-color: #ffffff;
        background-image: url("https://www.transparenttextures.com/patterns/crissxcross.png");
    }

    #col-2 {
        height: 75vh;
        background-color: #77b7ff;
        background-image: url("https://www.transparenttextures.com/patterns/crissxcross.png");
        background-position: 106px 23px;
    }

}

#home-section {
    min-height: 100vh;

    .imgSection {
        z-index: 1;
        position: absolute;
        height: 95vh;
        width: 54vw;
        transform: translate( 50%, -68%);
        -webkit-box-shadow: 39px 30px 57px -55px rgba(0,0,0,0.75);
        -moz-box-shadow: 39px 30px 57px -55px rgba(0,0,0,0.75);
        box-shadow: 39px 30px 57px -55px rgba(0,0,0,0.75);

        .imgContent {
            position: absolute;
            top: 20vh;
            float: left;
            font-size: 2.5em;
            z-index: 1;

            p {
                font-size: 0.6em;
                text-align: left;
            }

            span {
                color: #77b7ff;
                font-weight: 1000;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }
        }

        img {
            float: right;
            width: auto;
            height: 100%;
        }

        @media (max-width: '1168px') {

            img {
                z-index: 0;
                filter: brightness(50%);
            }

            .imgContent {
                color: white;
            }

            p {
                color: white;
            }
        }
    }
}
