.footerBar {
    min-height: 30vh;
    background-color: #0075f6;

    .footerIcon {
        border-radius: 80%;
        width: 50px;
        height: 50px;
        background-color: #1e8bff;
        margin: auto;
        margin-top: 3px;

        a {
            :hover {
                padding: 2px;
                transition: 0.1s ease;
            }
        }

        img {
            width: 100%;
            border-radius: 100%;
            margin-top: 3px;
        }
    }

    h5 {
        margin: auto;
    }
}
