
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,400&display=swap');

#root {
    height: 100vh;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

.switch-wrapper {
    position: relative;
}

.MainProjectArea {
    min-height: 100vh;
    background-color: #000000;
    background-color: #c3dfff;
    background-image: url("https://www.transparenttextures.com/patterns/crissxcross.png");
    background-position: 106px 23px;
    display: block;
}