$primay: #0075f6;

.aboutMe {
    min-height: 100vh;

    h1 {
        font-weight: 800;
    }

    h3 {
        font-size: 3ex;
        font-weight: 200;
    }

    h5 {
        line-height: 3rem;
        color: grey;
    }

    p {
        font-size: 1.8ex;
        color: grey;    
    }

    .aboutMeCard {
        min-width: 8vw;
        max-width: 19rem;
        float: none;
        margin: 0 auto;

        h5 {
            font-size: 2ex;
        }

        p {
            font-size: 1.8ex;
            color: grey;
            justify-content: baseline;
        }

        img {
            width: 100%;
        }
    }
}

.ProjectsDone {
    width: 100%;
    min-height: 10vh;
    background-color: $primay;
    color: #ffffff;

    h1 {
        font-size: 3.5ex;
        font-weight: 300;
    }
}

#projects-done {
    svg {
        color: white;
    }

    &:hover {
        svg {
            animation: repeat-leftRight 1s ease-in-out infinite;
        }
    }
}

@keyframes repeat-leftRight {
    0% {
        margin-left: 0rem;
    }
    50% {
        margin-left: 1rem;
    }
    100% {
        margin-left: 0rem;
    }
  }
